/* Layout base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: relative;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}

.logo {
    position: absolute;
    right: 20px;
    top: 15px;
    max-width: 80px;
    height: auto;
    border-radius: 50px;
    
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 0.9em;
}
.blue-link {
    color: #c3f129;
    text-decoration: none;
}

/* Tabelas */
.day-title {
    font-size: 1.8em;
    color: #2c3e50;
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 2px solid #3498db;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #3498db;
    color: white;
    font-weight: bold;
}

tr:hover {
    background-color: #f5f5f5;
}

.status {
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 4px;
}

.delivered { background-color: #d4edda; color: #155724; }
.not_delivered { background-color: #fff3cd; color: #856404; }
.returned { background-color: #e2e3e5; color: #383d41; }
.not_returned { background-color: #f8d7da; color: #721c24; }

/* Responsividade */
@media screen and (max-width: 768px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
    
    th, td {
        padding: 10px;
    }.button {
    display: inline-block;
    padding: 9px 19px 7px;
    font-size: 16px;
    color: #fff;
    background-color: #f46276;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    margin-top: 20px;
    text-align: center;
    z-index: 10px;
}

.button:hover {
    background-color: #0056b3;
}

.button:active {
    background-color: #003f7f;
}
}